header {
  line-height: 64px;
  background: #5c4a1e;
  color: white;
  font-weight: 100;
  font-size: 24px;
}

.menu-button {
  cursor: pointer;
  float: right;
  height: 64px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
