body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body,
input,
button {
  font-family: Raleway, Roboto, Segoe, sans-serif;
  color: rgba(0, 0, 0, 0.6);
}

html,
body,
#root {
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.wrapper-padded {
  padding: 0 24px;
}

.page {
  height: calc(100vh - 64px);
  width: 100vw;
  position: absolute;
  top: 64px;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
}

button {
  padding: 12px 24px;
  background: #5c4a1e;
  color: white;
  border-radius: 4px;
  box-shadow: 2px 0 4px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .3s;
  user-select: none;
}

button:active {
  background: #46391c;
  box-shadow: 2px 0 8px 2px rgba(0, 0, 0, 0.2);
}

button+button {
  margin-left: 24px;
}

input {
  padding: 12px 24px;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  transition: border .3s;
}

input:focus {
  border-bottom: 2px solid #5c4a1e;
}

.small {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

p {
  margin: 0 0 12px;
}

.content-wrapper {
  padding: 24px;
}

.right {
  text-align: right;
}

.fab {
  position: absolute;
  right: 12px;
  bottom: 12px;
  box-shadow: 2px 0 4px 1px rgba(0, 0, 0, 0.2);
  background: #5c4a1e;
  color: white;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: all .3s;
  user-select: none;
}

.fab:active {
  background: #46391c;
  box-shadow: 2px 0 8px 2px rgba(0, 0, 0, 0.2);
}
