.face-square {
	border: 4px solid #5c4a1e;
	position: absolute;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

.emotion-display {
	color: white;
	font-size: 10px;
	position: relative;
	top: calc(100% + 10px);
	overflow: visible;
	display: flex;
	justify-content: center;
}

.emotion-text {
	display: inline-block;
	border-radius: 2px;
	padding: 6px 12px;
	white-space: nowrap;
	background: #5c4a1e;
	width: auto;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

.emotion-display-triangle {
	height: 5px;
	width: 10px;
	top: calc(100% + 5px);
	left: calc(50% - 2.5px);
	background: #5c4a1e;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	position: absolute;
}
