#intro {
	height: 100%;
	position: relative;
	overflow: hidden;
	.bg {
		position: absolute;
		height: 100%;
		width: 100%;
		background-image: url("../../Resources/Images/BgSaturn.jpg");
		background-size: cover;
		background-position: center;
	}
	.content-holder {
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.dialog {
		background: rgba(255, 255, 255, 0.8);
		padding: 48px;
		color: rgba(0, 0, 0, 0.8);
		font-size: 24px;
	}
	input.name {
		font-size: 18px;
		outline: none;
		border: none;
		border-bottom: 2px solid #6483a0;
		max-width: 100%;
		width: 320px;
		background: none;
		color: rgba(0, 0, 0, 0.5);
		padding: 12px 24px;
	}
	button.submit {
		border: none;
		outline: none;
		background: #6483a0;
		padding: 12px 24px;
		margin-left: 24px;
		cursor: pointer;
		font-size: 18px;
		color: white;
		transition: all .3s;
		&:hover {
			box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
		}
	}
}
